html, body {
	margin: 0;
	padding: 0;
	z-index: 10;
}

body {
	background-position: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	/*background-image: url("images/starfield_stock_1.jpg");*/
	font-family: 'hk_grotesklight', 'Helvetica-Neue', 'Helvetica', Arial, sans-serif;
	font-weight: 500;
}

h1 {
	font-weight: 700;
}

h2.day-moment {
	font-weight: 600;
}

.page-header {
	color: white;
}

.page-header h1 {
	margin-left: 9%;
}

.page-header a {
	color: white!important;
}

.card-background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-position: 100%;
	background-size: 100rem;
	background-repeat: no-repeat;
}

.card-background.sun {
	background-image: url("images/sun.jpg");
}

.card-background.night {
	background-image: url("images/night.jpg");
}

.card-body {
	z-index: 100;
	background-image: url("images/clock.png");
	background-position: 50% 3rem;
	background-size: 23rem;
	background-repeat: no-repeat;
	background-color: rgba(255,255,255,.7);
}

.card.clock {
	height: 40rem;
}

.chart-container {
	position: relative;
	margin: auto;
	height: 28rem;
	width: 100%;
}

.chart-legend {
	height: auto;
	overflow: auto;
	margin-top: 2rem;
}

.chart-legend li {
	list-style-type: none;
	display: inline;
	margin-left: 15px;
}

.chart-legend li span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 5px;
}

#background {
	display: none;
	background-color: rgba(0,0,0, 0.5);
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 125;
	top: 0;
	left: 0;
}

#modal-setup {
	z-index: 150;
}

.dtp-header {
	background-color: rgba(22,152,172,0.6)!important;
}

.dtp div.dtp-time {
	background-color: rgba(22,152,172,0.7)!important;	
}

line {
	stroke: rgba(22,152,172,0.7)!important;
}

.space {
	height: 10vw;
}

footer .social-media {
	padding-left: 8%;
}

footer {
	color: #aaa!important;
}

footer a.ic {
	color: white!important;
	cursor: pointer;
}

footer a.ic:hover {
	color: #aaa!important;
}

footer .footer-copyright a {
	color: #ddd!important;
}

@media only screen and (max-width: 1200px) {
	.card-body {
		background-position: 50% 4rem;
		background-size: 22rem;
	}
}

@media only screen and (max-width: 1150px) {
	.card-body {
		background-position: 50% 6rem;
		background-size: 18rem;
	}
}

@media only screen and (max-width: 1000px) {
	.card-body {
		background-position: 50% 8rem;
		background-size: 14rem;
	}
}

@media only screen and (max-width: 765px) {
	.card-body {
		background-position: 50% 4rem;
		background-size: 22rem;
	}
}

@media only screen and (max-width: 500px) {
	.card-body {
		background-position: 50% 6rem;
		background-size: 18rem;
	}
}

@media only screen and (max-width: 400px) {
	.card-body {
		background-position: 50% 8rem;
		background-size: 14rem;
	}
}